/* Importing google font */
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

/* Setting universal selector to apply this to all the content */
* {
  box-sizing: border-box;
}

body {
  font-family: "Ubunto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* Setting blurred bg image to be behind the text and adjusting thickness of edges shadow when blurred */
.bg {
  background: url(https://images.unsplash.com/photo-1536928966032-83f683b965ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) no-repeat center center/cover;
  position: absolute;
  top: -30;
  left: -30;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);  
}

.loading-text {
  font-size: 50px;
  color: black;
}
